certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
decorator==5.2.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
iniconfig==2.1.0
moviepy==2.1.2
numpy==2.2.4
packaging==24.2
pillow==10.4.0
pluggy==1.5.0
proglog==0.1.11
pydub==0.25.1
pytest==8.3.5
python-dotenv==1.1.0
pytube==15.0.0
requests==2.32.3
tqdm==4.67.1
urllib3==2.4.0
yt-dlp==2025.3.31